@page
@model UIKT.Pages.MainWindowModel
@{
    ViewData["Title"] = "Prijava podjetja";
}

<style>
    .border {
        width: 500px;
        height: 650px;
        padding: 20px;
    }
</style>

<div class="border border-success">
    <h1 style="text-align:center; font-size: 45px" class="display-4">Vnesite podatke</h1>
    <div class="dropdown-divider"></div>
    <br />
    <form method="post">
        <label for="fname">Ime:</label>
        <input type="text" id="fname" name="fname" value="@Model.ime" /><br /><br />

        <label for="fpass">Priimek:</label>
        <input type="text" id="fpass" name="fpass" value="@Model.priimek" /><br /><br />

        <label for="femso">EMŠO:</label>
        <input type="text" id="femso" name="femso" pattern="[0-9]{13}" value="@Model.emso" /><br /><br />

        <label for="fdst">Davčna številka:</label>
        <input type="text" id="fdst" name="fdst" pattern="[0-9]{8}" value="@Model.dst" /><br /><br />

        <label for="fiban">IBAN:</label>
        <input type="text" id="fiban" name="fiban" pattern="^[A-Z]{2}\d{2}[A-Z0-9]{4}\d{7}([A-Z0-9]?){0,16}$" @Model.iban /><br /><br />

        <label for="fnaziv">Naziv podjetja:</label>
        <input type="text" id="fnaziv" name="fnaziv" @Model.naziv /><br /><br />

        <label for="fopis">Opis podjetja:</label>
        <textarea name="fopis" rows="4" cols="50" @Model.opis></textarea><br><br />
        
        <input type="submit" value="Pošlji" class="btn btn-success">
        <input type="submit" value="Shrani" class="btn btn-primary" onclick="myFunction()">
    </form>
</div>