@page
@model UIKT.Pages.MainWindowModelUprava
@{
    ViewData["Title"] = "Prijava podjetja";
}

<div class="text-center">
    <h4>@Model.vlogaime</h4>
    <form method="post">
        <table id="myTable" name="tabela" align="center">
            <tr>
                <td><strong>Ime</strong></td>
                <td name="fname">@Model.ime</td>
                <td id="left">@Model.imeT</td>
            </tr>
            <tr>
                <td><strong>Priimek</strong></td>
                <td name="fpriimek">@Model.priimek</td>
                <td id="left">@Model.priimekT</td>
            </tr>
            <tr>
                <td><strong>EMŠO</strong></td>
                <td name="femso">@Model.emso</td>
                <td id="left">@Model.emsoT</td>
            </tr>
            <tr>
                <td><strong>Davčna številka</strong></td>
                <td name="fdst">@Model.dst</td>
                <td id="left">@Model.dstT</td>
            </tr>
            <tr>
                <td><strong>IBAN</strong></td>
                <td name="fiban">@Model.iban</td>
                <td id="left">@Model.ibanT</td>
            </tr>
            <tr>
                <td><strong>Naziv podjetja</strong></td>
                <td name="fnaziv">@Model.naziv</td>
                <td id="left">@Model.nazivT</td>
            </tr>
            <tr>
                <td><strong>Opis podjetja</strong></td>
                <td name="fopis">@Model.opis</td>
                <td id="left">@Model.opisT</td>
            </tr>
        </table>
        <textarea name="zavrnitev" rows="4" cols="50" placeholder="Razlog za zavrnitev..."></textarea><br>
        
        <input type="submit" name="submit" class="btn btn-success" value="Potrdi">
        <input type="submit" name="submit" class="btn btn-danger" value="Zavrni">

        
        <label style="color:red" id="feedback">@Model.response</label>
    </form>

    @*<table id="myTable" align="center">
        <tr>
            <td><strong>Ime</strong></td>
            <td>@Model.ime</td>
            <td id ="left">@Model.imeT</td>
        </tr>
        <tr>
            <td><strong>Priimek</strong></td>
            <td>@Model.priimek</td>
            <td id="left">@Model.priimekT</td>
        </tr>
        <tr>
            <td><strong>EMŠO</strong></td>
            <td>@Model.emso</td>
            <td id="left">@Model.emsoT</td>
        </tr>
        <tr>
            <td><strong>Davčna številka</strong></td>
            <td>@Model.dst</td>
            <td id="left">@Model.dstT</td>
        </tr>
        <tr>
            <td><strong>IBAN</strong></td>
            <td>@Model.iban</td>
            <td id="left">@Model.ibanT</td>
        </tr>
        <tr>
            <td><strong>Naziv podjetja</strong></td>
            <td>@Model.naziv</td>
            <td id="left">@Model.nazivT</td>
        </tr>
        <tr>
            <td><strong>Opis podjetja</strong></td>
            <td>@Model.opis</td>
            <td id="left">@Model.opisT</td>
        </tr>
    </table>*@
</div>